<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css" integrity="sha512-tN7Ec6zAFaVSG3TpNAKtk4DOHNpSwKHxxrsiw4GHKESGPs5njn/0sMCUMl2svV4wo4BK/rCP7juYz+zx+l6oeQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism-tomorrow.min.css" integrity="sha512-vswe+cgvic/XBoF1OcM/TeJ2FW0OofqAVdCZiEYkd6dwGXthvkSFWOoGGJgS2CW70VK5dQM5Oh+7ne47s74VTg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" type="image/png" href='assets/favicon.png' />
  </head>

  <body class="container m-auto">

    <div class="boom">asdf</div>
    
    <!-- HEADER -->
    <header class="bg-gray-900 text-white px-5 py-10">
      <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
    </header>

    <!-- MAIN CONTENT -->
    <main class="bg-gray-100">
      {{ content }}
    </main>

    <!-- FOOTER  -->

    <footer class="bg-gray-900 text-white font-bold">
      {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
      {% endif %}
    </footer>
    <!-- https://cdnjs.com/libraries/prism -->
    <!-- Lang -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.js" integrity="sha512-HtDMd1Vya9CVeFDO2/imO3ew0tojMaoRRDnWD8I+HQpwdF3yhXOBofN7JW9+0VeQT/KfA0uUPwAgqf84RGZt7w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js" integrity="sha512-hpZ5pDCF2bRCweL5WoA0/N1elet1KYL5mx3LP555Eg/0ZguaHawxNvEjF6O3rufAChs16HVNhEc6blF/rZoowQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-elixir.min.js" integrity="sha512-XdPyCY48VvRU56okVLAGO3+XERM421vhpQXlasbG2FBWL8nqgEkeprNfSG7V70rM6xPE6DQ0DEvLCdXOyngdYA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-bash.min.js" integrity="sha512-/xr8BBHgclic5pEsdspPqQS8ne+X8QbYRK22c1WRDj8zERTBJDH+Ic/3o8vnrdz5yeGzlzMfp8k33tGgDaAh6g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-css-extras.min.js" integrity="sha512-4+noLxW8LigA+cEn17M025p1xs61w/vCjz0RaWhUwoRZZO2Esdtk1OgvzwykJU4lNgg0GhnLC76lfqhrSFOqeQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-css.min.js" integrity="sha512-Jv/EO8zjSyqIDa2S0YjCGFY+mEROxud6g7AhfA0KcggjdzhPBhoRyetxV7G7/dnfBdZBzcOvpRn1K+J6sn3jyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-docker.min.js" integrity="sha512-xr5GUv8/uzirasgzqppCsV3cu1U/oqKO8mH9Tr45Xxg8mQ+zfgYoph8JiC+CuXTJA9d0B5VpoPQrBF1QTAvVvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-elixir.min.js" integrity="sha512-XdPyCY48VvRU56okVLAGO3+XERM421vhpQXlasbG2FBWL8nqgEkeprNfSG7V70rM6xPE6DQ0DEvLCdXOyngdYA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-erlang.min.js" integrity="sha512-NUNfdS+8fLN34pfd0ZWNweiIOymiZ2xp2XZlmWi9q2YlUZDyOp4DCWPI86b+8/xe4E3MfeVoEko7clJ5u4kInA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-erlang.min.js" integrity="sha512-NUNfdS+8fLN34pfd0ZWNweiIOymiZ2xp2XZlmWi9q2YlUZDyOp4DCWPI86b+8/xe4E3MfeVoEko7clJ5u4kInA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-graphql.min.js" integrity="sha512-q3J1mwER9D44HjTkO8hVenXnO+ymmJowOYhdAOvcKs6GKFY5f06WWHs8dLP9z2hxU9akOjx4Dco9eaQYu+cw1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-graphql.min.js" integrity="sha512-q3J1mwER9D44HjTkO8hVenXnO+ymmJowOYhdAOvcKs6GKFY5f06WWHs8dLP9z2hxU9akOjx4Dco9eaQYu+cw1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-javascript.min.js" integrity="sha512-3oavHcAYV/4pmn+iDuax6ru7dpjKnd+21+SzCQrYdTiYDncloL7QJ3qYvsA9JU0p7ZQjB+DizGeWMm2sUrCzSQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-js-extras.min.js" integrity="sha512-ZBF6naV73MW5/MAxEGxIkDvdVQ3JUy//6tjad/iA4WnIFfhjh5Qj1UyzdrujRttlhgadkxojd86vF2QXa+DSPw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-js-templates.min.js" integrity="sha512-7D5vlQ6fF05/5gkbMsiamdIEOACBKJwIIyKRxtiElllorTnpWnJHTH2lsvtCx9nU1B06Tv+vIHth7mKZLBCnYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-jsdoc.min.js" integrity="sha512-TYHFUJD+Bl4C95RtJ+xrjskBXcZxHGNwg6DMkGNkekXoR/66qW3uGQERZa0uFYv6r19OhGIssbSpx1qz3Kdhpw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-json.min.js" integrity="sha512-NFh0rog24tZqD7+bvhZ15l9r10u/yir42sQ1EuUEWpw2Pyh1KrGUKKXI1TWSAX7RxaohbPn0u1fTb6+YU4u3zA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-json5.min.js" integrity="sha512-MbfYOMnSmsdss5g+EHR4wFPGhXX5zQvQk2bVMW+y20PdSj1ir6aFrnLm3S7elwQuv9YaRoyMJFT+U5kQqyTj/Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-jsonp.min.js" integrity="sha512-N2q92ytGio5pTnPWBUQCvDTpj2LIQ3ZwUiRJN6KAMIm+3yw16tHDu8FIA4YK6A6PKFVZlrbOj8gj3L2Z/1UTpA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-jsx.min.js" integrity="sha512-KNvdEaPrmTihMKmH/8CeHfMskGdt5WaPyMoNWVkg39w9/itQA68/tNPi2zcczyr2RvRprXai8aH8zftj89Jg1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-markdown.min.js" integrity="sha512-8UhG72R18RK8BmMjJ73PLwT1BKncyVNuImfomEruIzir2plVqC+Fh7ifDu0D6l1N+i2m1ccr8awfs7gBbvzCtQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-powershell.min.js" integrity="sha512-q6KkTou0ivtT8UKfYTYdTX+n9MCQ65ZH3nkm2tB9zDF0EKwuaYxSi+EgSe1Ox8/I3U6d1x6dbiLltO7luan1JQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-python.min.js" integrity="sha512-yIpe1UXrH/ZWwu3n7MdHNfMbPXftP0jlg9+lRhzlpbolElt33h3PGx9ICzqf/k+yca3QNzqcO3sdtKJuYRTi4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-regex.min.js" integrity="sha512-wvZvZPPlQPdOq8mXMVPCmKrhAlTbtBbBxWf+fv7iUmAAZzyzWwgogACTyvQDdToSlu8G8y0nFW4LPXGT61pGDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-ruby.min.js" integrity="sha512-nw4lRvuD47DTW65G2USfNSu0VSPdl+vJSMz5sR+YQ3/HtG7w4S7pDvh1ygqVuOVSpHDHKqteZ2GroJAPke+3JQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-ruby.min.js" integrity="sha512-nw4lRvuD47DTW65G2USfNSu0VSPdl+vJSMz5sR+YQ3/HtG7w4S7pDvh1ygqVuOVSpHDHKqteZ2GroJAPke+3JQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-sass.min.js" integrity="sha512-h8T/5kbfRUfKTBsRyrPGNqgkmlm/boA3a/8o5tK3nSaO5aqFoFcTzFXcvnq8AIoXNMitM9sjZ8fWr9oqERaqHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-scss.min.js" integrity="sha512-lQbJbXcaOvte/zzg18pf9ybI3iKZ2taOu9jE9c2z00Pdt8WiWAi3nFENtn+2aqlWaWkM+g683Wgj0ka/TOLvCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-sql.min.js" integrity="sha512-OrjGiH3KgAUReMA3g1ieErj5gbS4IBRO7hAklulWwKfEKryUcepiJX68CsdotsNNgY7LzaMuYxX4dxwuVETQmw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-typescript.min.js" integrity="sha512-N+kq7boI2tzrLEq2oqRGL05eQBPLET0/hPA6/BRRxdLcuZhUS74/J5upuVdWxLPiQHoTZtMQVGQcumxAVJl3gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  </body>
</html>
